<header class="mat-toolbar-single-row page-header">
  <button mat-icon-button color="primary" aria-label="Back to homepage" [routerLink]="['/']">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="page-header__heading">
    <h1 class="mat-headline mb-0">Features lists</h1>
  </div>
</header>

<div class="page-content">

  <mat-card class="mb-4">
    <mat-card-header class="example-card__header">
      <mat-card-title>Notifications</mat-card-title>
      <mat-card-subtitle>service</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>For displaying snack-bar notifications.</p>
      <app-notification-example></app-notification-example>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4">
    <mat-card-header class="example-card__header">
      <mat-card-title>Local Storage</mat-card-title>
      <mat-card-subtitle>service</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-local-storage-example></app-local-storage-example>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4">
    <mat-card-header class="example-card__header">
      <mat-card-title>Offline Indicator</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Disable your internet connection or go to <strong>Network</strong> - chrome developer tab, and set it to <em>Offline</em>.
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4">
    <mat-card-header class="example-card__header">
      <mat-card-title>HTTP Error Handler</mat-card-title>
      <mat-card-subtitle>interceptor</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>For running errors.</p>
      <app-error-handler-example></app-error-handler-example>
    </mat-card-content>
  </mat-card>

  <app-loading-example></app-loading-example>
</div>
