<app-page-header>
  <app-page-header-back [link]="'/'" ariaLabel="Back to homepage"></app-page-header-back>
  <app-page-header-title>Features lists</app-page-header-title>
</app-page-header>

<div class="page-content">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex-basis">
          <strong>Notifications</strong>
        </mat-panel-title>
        <mat-panel-description>
          service
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>For displaying snack-bar notifications.</p>
      <app-notification-example></app-notification-example>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex-basis">
          <strong>Confirm Dialog</strong>
        </mat-panel-title>
        <mat-panel-description>
          service
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>For displaying modal dialogs with confirm action.</p>
      <app-confirm-dialog-example></app-confirm-dialog-example>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex-basis">
          <strong>Local Storage</strong>
        </mat-panel-title>
        <mat-panel-description>
          service
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-local-storage-example></app-local-storage-example>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex-basis">
          <strong>Offline Indicator</strong>
        </mat-panel-title>
        <mat-panel-description>
          event handling
        </mat-panel-description>
      </mat-expansion-panel-header>
      Disable your internet connection or go to <strong>Network</strong> - chrome developer tab, and set it to <em>Offline</em>.
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex-basis">
          <strong>HTTP Error Handler</strong>
        </mat-panel-title>
        <mat-panel-description>
          event handling
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>For running errors.</p>
      <app-error-handler-example></app-error-handler-example>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex-basis">
          <strong>Loading</strong>
        </mat-panel-title>
        <mat-panel-description>
          event handling
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-loading-example></app-loading-example>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex-basis">
          <strong>Input Debounce</strong>
        </mat-panel-title>
        <mat-panel-description>
          directive
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Write a text and see emitted value after 1 second delay.</p>
      <app-input-debounce></app-input-debounce>
    </mat-expansion-panel>
  </mat-accordion>
</div>
