<div *ngIf="posts$ | async as posts">
  <app-page-header>
    <app-page-header-back [link]="'/'" ariaLabel="Back to homepage"></app-page-header-back>
    <app-page-header-title [addons]="posts.length">Posts List</app-page-header-title>
    <button mat-icon-button color="primary" aria-label="Reload" class="ml-auto" (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </app-page-header>

  <div class="floating-action">
    <button mat-fab color="primary" aria-label="Add new item" [routerLink]="['/','posts','create']">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="page-content">
    <mat-list class="pt-0">
      <mat-list-item *ngFor="let post of posts" mat-ripple [routerLink]="['/','posts', post.id]">
        <mat-icon mat-list-icon color="accent">event_note</mat-icon>
        <div mat-line>{{post.title}}</div>
        <div mat-line class="post-item__date">{{post.date | date}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
