// -----------------------------------------------------------------------------
// Snackbar component
// -----------------------------------------------------------------------------

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification__action {
  flex-shrink: 0;
  margin: -8px -8px -8px 8px;
}

.notification__action-button {
  height: 24px;
  width: 24px;
  line-height: 1;
}

.notification__action-icon {
  font-size: 16px;
}

.app-snack-bar {
  button {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, .45);
  }
}

.app-snack-bar_error {
  background-color: $danger !important;
}

.app-snack-bar_success {
  background-color: $success;
}
