<button mat-icon-button (click)="onRefresh()">
    <mat-icon>refresh</mat-icon>
</button>

<table mat-table class="w-100" [dataSource]="dataSourceForTable" matSort matSortDisableClear="true"
       [matSortActive]="defaultSort.active" [matSortDirection]="defaultSort.direction">

    <ng-container matColumnDef="id">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let element">{{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="noUsers">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">No users found.</td>
    </ng-container>

    <ng-container matColumnDef="loadingUsers">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">Loading users...</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>

    <ng-container *ngIf="dataSourceForTable.data.length > 0 && !loading">
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="customer-row"
            [ngClass]="{'hide': !(dataSourceForTable.data.length > 0 && !loading ) && !isOnRefresh}"
        ></tr>
    </ng-container>

    <mat-footer-row *matFooterRowDef="['loadingUsers']" [ngClass]="{'hide': !(dataSourceForTable.data.length === 0 && loading)}">
    </mat-footer-row>

    <mat-footer-row *matFooterRowDef="['noUsers']" [ngClass]="{'hide': !(dataSourceForTable.data.length === 0 && !loading)}">
    </mat-footer-row>
</table>

<mat-paginator [pageSize]="10"  [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
