Users ({{ (totalCount$ | async) }})

<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput [value]="currentFilter" appInput (delayedInput)="onFilterChange($event)">
</mat-form-field>

<button mat-icon-button (click)="onClear()" [disabled]="!currentFilter">
  <mat-icon>clear</mat-icon>
</button>

<button mat-icon-button (click)="onRefresh()">
  <mat-icon>refresh</mat-icon>
</button>

<table mat-table matSort class="w-100" [dataSource]="dataSourceForTable"
       [matSortActive]="currentSort.active" [matSortDirection]="currentSort.direction"
       (matSortChange)="onMatSortChange($event)" matSortDisableClear>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let element">{{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
    <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let element">{{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let element">{{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="onEdit(element)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="dataSourceForTable.data.length === 0 && !(loading$ | async)" class="row-info">
  No users found.
</div>

<div *ngIf="dataSourceForTable.data.length === 0 && (loading$ | async)" class="row-info">
  Loading users...
</div>

<mat-paginator [length]="(totalCount$ | async)"  [pageIndex]="currentPageIndex"
               (page)="onPageChange($event)" [pageSize]="currentPageSize"
               [pageSizeOptions]="[10, 20, 50]"></mat-paginator>