// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

.mat-body p {
  margin-bottom: $paragraph-margin-bottom;
}

.mat-headline {
  margin-bottom: $headings-margin-bottom;
}

small,
.small {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}
