<mat-toolbar class="app-toolbar" color="primary">
  <button mat-icon-button aria-label="Toggle app menu" class="app-toolbar__btn-menu" (click)="sidenavIconClick.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="assets/logo-white.svg" class="app-toolbar__logo" alt=""> Angular Starter App

  <div class="app-toolbar__right">
    <button mat-icon-button aria-label="Toggle user menu" [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Your profile</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Sign out</button>
    </mat-menu>
  </div>
</mat-toolbar>
