// Basic styles

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// ngx-progress-bar

.ng-bar {
  background: map-get($app-primary, 900);;
  background: linear-gradient(to right, map-get($app-primary, 900), map-get($app-primary, 500));
}

// links

a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}


// and so on...
