// Helper classes
//


.w-100 {
  width: 100% !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.text-right {
  text-align: right !important;
}

.floating-action {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1010;
}

.squeeze {
  display: flex;
  justify-content: center;

  > * {
    max-width: 450px;
  }
}
