// Helper classes
//


.w-100 {
  width: 100% !important;
  box-sizing: border-box;
}

.ml-auto {
  margin-left: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 4px !important;
}

.mr-2 {
  margin-right: 8px !important;
}

.mr-3 {
  margin-right: 16px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.text-right {
  text-align: right !important;
}

.floating-action {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1010;
}

.squeeze {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.text-danger {
  color: $color-danger !important;
}

.text-success {
  color: $color-success !important;
}

.text-primary {
  color: $color-primary !important;
}
