.home-highlight {
  margin-bottom: 30px;
  text-align: center;
}

.home-display {
  margin-bottom: 20px;
}

.home-modules {
  margin-bottom: 30px;
}

.home-modules__header {
  margin-bottom: 30px;
}


$home-header-icon-size: 32px;

.home-card {
  margin-bottom: 20px;
}

.home-card__header-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card__header-icon {
  font-size: $home-header-icon-size;
  height: $home-header-icon-size;
  width: $home-header-icon-size;
}


.home-docs {

}
