<img src="assets/logo.svg">

<br>

<p>
  Angular Starter App is real word boilerplate to speedup your development.
  Just focus on your main features and dont waist your time on setting up the whole necessary angular environment.
</p>

<br>

Here are some links to help you get familiar with this project:
<br>
<a href="https://matsta25.gitlab.io/angular-starter-app/docs/#/" target="_blank">Documentation</a>
<br>
<a [routerLink]="['/', 'examples']">Examples</a>
<br>
<a [routerLink]="['/','posts']">Posts</a>
<br>
<a [routerLink]="['/','todos']">Todos</a>

<br>
<br>

You like angular-starter-app? <a target="_blank" href="https://github.com/matsta25/angular-starter-app">Give our repo a star.</a>
