// -----------------------------------------------------------------------------
// Header of the site/application
// -----------------------------------------------------------------------------

.app-toolbar {
  background-color: $toolbar-background-color !important;
}

.app-toolbar-spacer {
  flex: 1 1 auto;
}

.app-toolbar-element {
  padding: 0 14px !important;
}
